
*.vsidx
ProductAPIs/.vs/ProductAPIs/DesignTimeBuild/.dtbcache.v2
ProductAPIs/.vs/ProductAPIs/v17/.futdcache.v2
ProductAPIs/.vs/ProductAPIs/v17/.suo
ProductAPIs/.vs/ProductAPIs/v17/TestStore/0/002.testlog
ProductAPIs/.vs/ProductAPIs/v17/TestStore/0/003.testlog
ProductAPIs/.vs/ProductAPIs/v17/TestStore/0/testlog.manifest
ProductAPIs/.vs/ProjectEvaluation/productapis.metadata.v7.bin
ProductAPIs/.vs/ProjectEvaluation/productapis.projects.v7.bin
ProductAPIs/Product.API/bin/Debug/net7.0/Product.API.dll
ProductAPIs/Product.API/bin/Debug/net7.0/Product.API.exe
ProductAPIs/Product.API/bin/Debug/net7.0/Product.API.pdb
ProductAPIs/Product.API/obj/Debug/net7.0/apphost.exe
ProductAPIs/Product.API/obj/Debug/net7.0/Product.API.AssemblyInfo.cs
ProductAPIs/Product.API/obj/Debug/net7.0/Product.API.AssemblyInfoInputs.cache
ProductAPIs/Product.API/obj/Debug/net7.0/Product.API.dll
ProductAPIs/Product.API/obj/Debug/net7.0/Product.API.pdb
ProductAPIs/Product.API/obj/Debug/net7.0/ref/Product.API.dll
ProductAPIs/Product.API/obj/Debug/net7.0/refint/Product.API.dll
ProductAPIs/Product.Test.API/bin/Debug/net7.0/Product.API.dll
ProductAPIs/Product.Test.API/bin/Debug/net7.0/Product.API.exe
ProductAPIs/Product.Test.API/bin/Debug/net7.0/Product.API.pdb
ProductAPIs/Product.Test.API/bin/Debug/net7.0/Product.Test.API.dll
ProductAPIs/Product.Test.API/bin/Debug/net7.0/Product.Test.API.pdb
ProductAPIs/Product.Test.API/obj/Debug/net7.0/Product.Test.API.AssemblyInfoInputs.cache
ProductAPIs/Product.Test.API/obj/Debug/net7.0/Product.Test.API.csproj.AssemblyReference.cache
ProductAPIs/Product.Test.API/obj/Debug/net7.0/Product.Test.API.dll
ProductAPIs/Product.Test.API/obj/Debug/net7.0/Product.Test.API.pdb
ProductAPIs/Product.Test.API/obj/Debug/net7.0/Product.Test.API.sourcelink.json
ProductAPIs/Product.Test.API/obj/Debug/net7.0/ref/Product.Test.API.dll
ProductAPIs/Product.Test.API/obj/Debug/net7.0/refint/Product.Test.API.dll
ProductAPIs/.vs/ProductAPIs/DesignTimeBuild/.dtbcache.v2
ProductAPIs/.vs/ProductAPIs/v17/.futdcache.v2
ProductAPIs/.vs/ProductAPIs/v17/.suo
ProductAPIs/.vs/ProductAPIs/v17/TestStore/0/002.testlog
ProductAPIs/.vs/ProductAPIs/v17/TestStore/0/testlog.manifest
ProductAPIs/.vs/ProjectEvaluation/productapis.metadata.v7.bin
ProductAPIs/.vs/ProjectEvaluation/productapis.projects.v7.bin
ProductAPIs/Product.API/bin/Debug/net7.0/Product.API.dll
ProductAPIs/Product.API/bin/Debug/net7.0/Product.API.exe
ProductAPIs/Product.API/bin/Debug/net7.0/Product.API.pdb
ProductAPIs/Product.API/obj/Debug/net7.0/apphost.exe
ProductAPIs/Product.API/obj/Debug/net7.0/Product.API.AssemblyInfo.cs
ProductAPIs/Product.API/obj/Debug/net7.0/Product.API.AssemblyInfoInputs.cache
ProductAPIs/Product.API/obj/Debug/net7.0/Product.API.dll
ProductAPIs/Product.API/obj/Debug/net7.0/Product.API.pdb
ProductAPIs/Product.API/obj/Debug/net7.0/ref/Product.API.dll
ProductAPIs/Product.API/obj/Debug/net7.0/refint/Product.API.dll
ProductAPIs/Product.Test.API/bin/Debug/net7.0/Product.API.dll
ProductAPIs/Product.Test.API/bin/Debug/net7.0/Product.API.exe
ProductAPIs/Product.Test.API/bin/Debug/net7.0/Product.API.pdb
ProductAPIs/Product.Test.API/bin/Debug/net7.0/Product.Test.API.dll
ProductAPIs/Product.Test.API/bin/Debug/net7.0/Product.Test.API.pdb
ProductAPIs/Product.Test.API/obj/Debug/net7.0/Product.Test.API.AssemblyInfoInputs.cache
ProductAPIs/Product.Test.API/obj/Debug/net7.0/Product.Test.API.csproj.AssemblyReference.cache
ProductAPIs/Product.Test.API/obj/Debug/net7.0/Product.Test.API.dll
ProductAPIs/Product.Test.API/obj/Debug/net7.0/Product.Test.API.pdb
ProductAPIs/Product.Test.API/obj/Debug/net7.0/Product.Test.API.sourcelink.json
ProductAPIs/Product.Test.API/obj/Debug/net7.0/ref/Product.Test.API.dll
ProductAPIs/Product.Test.API/obj/Debug/net7.0/refint/Product.Test.API.dll
*.v2
*.testlog
*.manifest
*.bin
*.dll
